.content {
  display: grid;
  grid-template-columns: 1fr;
}

.flex-card {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 666px) {
  .content {
    grid-template-columns: auto;
  }
}
