.content {
  display: grid;
  grid-template-columns: 1fr;
}

.flex-card {
  display: flex;
  justify-content: space-around;
}

.card-content {
  margin-bottom: 3rem;
}

@media (max-width: 775px) {
  .flex-card {
    display: block;
    text-align: center;
    justify-content: center;
  }
}
