footer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: antiquewhite;
  align-items: center;
  width: 100%;
  height: 120px;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  background-color: aqua;
  margin-left: 2rem;
}

.social-media {
  text-align: right;
  margin-right: 2rem;
  list-style: none;
}
