* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  background-color: #faf7f0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  border-radius: 5px;
}

.App {
  position: relative;
}

.margin-body {
  margin: 0 4rem;
  min-height: 100%;
}

.animeDown {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeDown 0.3s forwards;
}

@keyframes animeDown {
  to {
    opacity: 1;
    transform: initial;
  }
}
